name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: '1.21'

      - name: Build
        run: go build -o ArknightsMaaRemoter.exe .

      - name: Upload Release
        uses: softprops/action-gh-release@v1
        with:
          files: ArknightsMaaRemoter.exe
